<script src="/socket.io/socket.io.js"></script>
<script src="/js/socket.js"></script>

<div>
    <nav>
    <ul>
      <li><a href="/index">Inicio</a></li>
      <li><a href="/users/login">Loguearse</a></li>
      <li><a href="/users/register">Registrarse</a></li>
      <li><a href="/products">Productos</a></li>
      <li><a href="http://localhost:9000/api/docs/#/">Documentacion</a></li>
    </ul>
  </nav>
</div>
<div>
    <h1>Bienvenido a mi proyecto de BackEnd!</h1>
    <textarea name="" id="textBox" cols="30" rows="10"></textarea>
</div>